/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  height: 100vh;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 600;
  color: #a35200;
  font-size: 35px;
}

.tosses {
  color: #334155;
  font-size: 15px;
  font-weight: 600;
}

.button {
  background-color: #f9d423;
  border-width: 0px;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  color: #a35200;
}

.toss-results {
  display: flex;
  color: #475569;
  font-size: 12px;
  font-weight: 600;
}

.count {
  padding: 15px;
}

.coin-image {
  height: 80px;
  width: 80px;
  padding-bottom: 5px;
}
